body {
    font-size: 16px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Roboto";
}
    
.container h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
}
.product-card h2 {
    font-size: 18px;
    line-height: 30px;
}