body {
    font-size: 4px;
    line-height: 1.875;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Roboto";
}
    
.container h1 {
    font-size: 10px;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Roboto";
}
.product-card h2 {
    font-size: 5px;
    line-height: 1.667;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Roboto";
}
